<!-- <ul>
    <li><a href="">Accueil</a></li>
    <li><a href="/adresse">Adresse</a></li>
    <li><a href="/stagiaire">Stagiaire</a></li>
</ul> -->
<!-- on a remplacé href par routerLink dans angular pour que la navigateur n'actualise pas toute la page -->
<ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="">Accueil</a>
    </li>
    <li routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/adresse">Adresse</a>
    </li>
    <li routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/stagiaire">Stagiaire</a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/formulaire">Formulaire</a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/produit">Produit</a>
    </li>
</ul>